body{
    margin: 0px;
}
body header,footer{
    background-color: rgb(46, 9, 150);
    color: white;
    margin: 0px;
    height: 15vh;
}
.div main{
    color: white;
    display: flex;
    flex-direction: row;
}
.div main nav,aside{
    background-color:rgb(88, 22, 42);
    flex: 1;
}
.div main article{
    background-color: rgb(77, 134, 77);
    color:white;
    flex: 5;
    min-height: 70vh;
}
